[user]
  name = {{ gitconfig_user_full_name }}
  email = {{ gitconfig_user_email }}
[core]
  editor = {{ gitconfig_core_editor }}
  excludesfile = {{ gitconfig_core_excludes_files }}
  autocrlf = {{ gitconfig_core_autocrlf }}
[color]
  branch = {{ gitconfig_color_branch }}
  diff = {{ gitconfig_color_diff }}
  interactive = {{ gitconfig_color_interactive }}
  status = {{ gitconfig_color_status }}
[init]
  defaultBranch = {{ gitconfig_init_defaultBranch }}
[web]
  browser = {{ gitconfig_web_browser }}
[credential]
  helper = {{ gitconfig_credential_helper }}
[push]
  default = {{ gitconfig_push_default }}
[merge]
  tool = {{ gitconfig_merge_tool }}
[difftool]
  prompt = {{ gitconfig_difftool_prompt }}
[alias]
  {% for alias in gitconfig_alias %}
    {{ alias }}
  {% endfor %}
[pull]
	rebase = {{ gitconfig_pull_rebase }}